@model ProjectManagementSystem.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrjctTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrjctTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrjctDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrjctDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(item => item.ProjectVelue.StatusVel)
        </dt>

        <dd>
            @Html.DisplayFor(item => item.ProjectVelue.StatusVel)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.PrjctCustomer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrjctCustomer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrjctExecuter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrjctExecuter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrjctBegining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrjctBegining)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrjctEnding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrjctEnding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrjctStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrjctStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrjctId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
